<link rel="stylesheet" href="/styles.css">
<nav>
    <ul>
        <li><a href="/">Start Screen</a></li>
        <li><a href="/top-rated">The Elite Roster</a></li>
        <li><a href="/hidden-gems">Forgotten Treasures</a></li>
        <li><a href="/random-game">Game of Fate</a></li>
    </ul>
</nav>
