<header>
    <link rel="stylesheet" href="/styles.css">
    <nav>
        <ul>
            <li><a href="/views/home.ejs">Start Screen</a></li>
            <li><a href="/views/top-rated.ejs">The Elite Roster</a></li>
            <li><a href="/views/game-details.ejs">Gamepedia</a></li>
            <li><a href="/views/hidden-gems.ejs"></a>Forgotten Treasures</li>
            <li><a href="/views/random-game.ejs">Game of Fate</a></li>
        </ul>
    </nav>
</header>