<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Video Game Gallery</title>
        <link rel="stylesheet" type="text/css" href="./styles.css">
    </head>

    <body>
        <%- include('partials/header') %> <!-- Include header -->
        <main class="main-content">
            <%- body %> <!-- This renders the dynamic content -->
        </main>

        <%- include('partials/footer') %> <!-- Include footer -->
    </body>

</html>