<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Rated</title>
</head>
<body>

    <div class="xp-bar">
        <div class="xp-bar-fill"></div>
    </div>
    <h1>Game of Fate</h1>
    <%- include('partials/header') %>  <!-- ✅ Navbar Included -->

</body>
</html>
